:root {
    --primary-color: #38005a;
    --secondary-color: #9567ff;
    --boxShadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
    --fontFamily: Arial, Helvetica, sans-serif;
    --background: linear-gradient(to right, #68bde1, #a1abf9);

    --fontTitle: 2.5em;
    --fontLabel: 1.5rem;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    /* text-align: center; */
    margin: 30px;
    background-image: var(--background) ;
    font-family: var(--fontFamily);
    /* justify-items: center;
    border: none;
    padding: 50px 50px 50px 500px; */
}

#contact-container {
    background: linear-gradient(to right, #68bde1, #a1abf9);
    width: 240px;
    height: 180px;
    padding: 15px 0px 0px 15px;
    border-radius: 30px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);;
}

#person-name {
    border: none;
    width: 170px;
    height: 25px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
}

#person-number {
    border: none;
    width: 170px;
    height: 25px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
}


#person-contact {
    background: #9567ff;
    color: white;
    font-weight: 500px;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    padding: 0px 0px 0px 20px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
}

#contact-head {
    /* margin: 0px 0px 20px 530px; */
}

#contact-inner {
    margin: 0px 0px 10px 10px;
}

#blank {
    margin: 0px 0px 10px 10px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
    border: none;
    width: 220px;
}

#rosie {
    margin: 10px;
}

#rosie1 {
    background: linear-gradient(to right, #68bde1, #a1abf9);
    display: flex;
    grid-column-gap: 100px;
    width: 320px;
    padding: 0px 0px 0px 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);;
}

#rosie2 {
    display: flex;
    grid-column-gap: 100px;
}

#rosie3 {
    display: flex;
    grid-column-gap: 100px;
}

#rosie4 {
    display: flex;
    grid-column-gap: 100px;
}