:root {
    --primary-color: #38005a;
    --secondary-color: #9567ff;
    --boxShadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
    --fontFamily: Arial, Helvetica, sans-serif;
    --background: linear-gradient(to right, #68bde1, #a1abf9);

    --fontTitle: 2.5em;
    --fontLabel: 1.5rempx;
}
/* linear-gradient(0.35turn, #17a4df,  #469aeb, #7f8efa) */
/* linear-gradient(to right, #1cb9fc, #b293fb); */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-image: var(--background) ;
    font-family: var(--fontFamily);
}

#preload {
    text-align: center;
    padding-top: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-image: var(--background);
    /* background: #000 url(Image/logo-project.png)  center center; */
}
#preload h3 {
    margin-top: 50px;
    color: #52388d;
    font-size: var(--fontTitle);
    font-weight: 900;
    text-shadow: 1px 2px #e5f0f5;
    
}


/* .sect2 .btn {
    padding: 0.8rem 0rem;
    font-size: 1rem;
    font-weight: 800;
} */


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #load1 {
        text-align: center;
        padding-top: 45%;
    }
    .sect2 h3 {
        margin-top: 50px;
        color: #52388d;
        font-size: var(--fontTitle);
        font-weight: 900;
        text-shadow: 1px 2px #e5f0f5;
        padding-left: 2rem;
    }
    .sect2 p {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: var(--fontLabel);
        color: #52388d;
        font-weight: 800;
    }
    .sect2 .btn {
        padding: 1.3rem 0rem;
        font-size: var(--fontLabel);
        font-weight: 800;
    }
    .sect2 .btn-primary{
        border-radius: 4rem;
        background-color: #7D5DCA;
        width: 25rem;
        box-shadow: 0px 3px 10px 0px #33333396;
    }
  }