:root {
    --primary-color: #38005a;
    --secondary-color: #9567ff;
    --textColor: #38005a;
    --boxShadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
    --fontFamily: Arial, Helvetica, sans-serif;
    --background: linear-gradient(to right, #1cb9fc, #b293fb);

    --fontTitle: 2.5em;
    --fontLabel: 1.5rem;
}
/* linear-gradient(0.35turn, #17a4df,  #469aeb, #7f8efa) */
/* linear-gradient(to right, #1cb9fc, #b293fb); */
/* linear-gradient(to right, #68bde1, #a1abf9); */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-image: var(--background) ;
}
.hidden {
    display:none;
    visibility:hidden;
}


/* start preload css */
#preload {
    text-align: center;
    padding-top: 10%;
    padding-left: 2rem;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-image: var(--background);
    display: flex;
    justify-content: center; 
    animation: prload .8s ease-out 3s;
          
}

#preload h3 {
    font-size: 8rem;
    position: relative;
    top: 120px;
    left: 85px;
}


.box {
    height: 370px;
    width: 100%;
    position: relative;
}

.cycle {
    width: 100px;
    height: 100px;
    background: #6dd0fa;
    position: absolute;
    border-radius: 50%;
    animation: ball 3s ease-out 0s;
    left: 110px;
    top: 185px;
}
.cycle2 {
    width: 85px;
    height: 85px;
    background: #9567ff;
    position: absolute;
    border-radius: 50%;;
    left: 203px;
    top: 155px;
}
.cycle3 {
    width: 70px;
    height: 70px;
    background: #f521ad;
    position: absolute;
    border-radius: 50%;
    animation: ball3 3s linear 0s;
    left: 80px;
    top: 127px;
}

@keyframes prload {
    0% {  opacity: 1; }
    100% { opacity: 0; }   
}

@keyframes ball {
    0% {   background: #f4770a; transform: scale(1);  }
    25% {  background: #24ed0e; transform: scale(1.1);  }
    50% {  background: #d5e70b; transform: scale(1.4);  }
    75% {  background: #04c0f9; transform: scale(1.1);  }
    100% { background: #6dd0fa; transform: scale(1);  }   
}

 @keyframes ball3 {
    0% {  transform: translateY(-300px);  }
    100% { transform: translateY(0);  }   
} 

/* end pre load css */

#preload h3, .sect2 h3 {    
    color: var(--textColor);    
    font-weight: 800;
    text-shadow: 1px 2px #e5f0f5;   
}

.sect2 h3{
    padding-left: 2rem;
    margin-top: 15px;
    font-size: var(--fontTitle);
}

#load1 {
    text-align: center;
    padding-top: 12%; 
}

#load1 span {
    font-weight: bolder;
    font-size: 1.4rem;
}

.sect2 p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    color: var(--textColor);
    font-weight: 500;        
}
.sect2 .btn {
    padding: 0.5rem 0rem;
    font-size: var(--fontLabel);
    font-weight: 600;
    letter-spacing: 1px;
}
.sect2 .btn-primary{
    border-radius: 4rem;
    background-color: #9567ff;
    width: 13rem;
    box-shadow: 0px 3px 10px 0px #33333396;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #load1, #preload {
        padding-top: 25%;         
    }
    
         
    .sect2 .btn-primary{
        width: 18rem;       
    }
    .sect2 .btn {
        padding: 0.5rem 0rem;       
    }

    .sect2 h3{
        font-size: 2rem ;
    }

    /* for preload  */

    #preload h3 {
        font-size: 3.5rem;
        position: relative;
        top: 300px;
        left: 0;
    }

    #preload {
        padding-left: 0;
    }

    .box {
        height: 370px;
        width: 350px;
        position: relative;
    }
   
  }